<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Archivos</title>
    <link rel="stylesheet" href="templates/styles.css">
</head>
<body>

    <div id="container">
        <div id="file-manager">
            <h1>Gestor de Archivos</h1>
            <hr>
            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" name="file" id="fileInput">
                <button type="submit">Subir Archivo</button>
            </form>
            <hr>
            <form action="/logout" method="POST">
                <button type="submit">Cerrar Sesión</button>
            </form>
            {% if 'username' in session %}
                <p>Usuario: {{ session['username'] }}</p>
            {% endif %}
        </div>
    
        <div id="files-container">
            <h2 id="files-title">Archivos Disponibles</h2>
            <ul id="fileList"></ul>
        </div>
    </div>

<hr>
<div id="centerText">
    Rodrigo Alvarez - 57008 - Ing. Informática - UM
</div>

<script src="templates/scripts.js"></script>

</body>
</html>
